<div id="thanks" class="a-notification--success alert alert-dismissible fade d-none mb-0" role="alert">
    <p class="message notice text-center py-1 mb-0 font-weight-bold h4">{{ "Success!" | upper }}</p>
    <button type="button" class="close my-auto" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div id="callMe" class="form-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <div class="section-title">{{ 'CONTACT'| t }}</div>
                    <h2>{{ 'Get In Touch Using The Form'| t }}</h2>
                    <p class="white">{{ 'You can give us a call or just use the contact form below for any questions and inquiries'| t }}</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="address white"> <i class="fas fa-map-marker-alt"></i> Gjerde Camping, 6210 Valldal, NORWAY
                        </li>
                        <li><i class="fas fa-phone white"></i> <a href="tel:004791764855" class="white"> +47 917 64 855</a></li>
                        <li><i class="fas fa-envelope white"></i> <a href="mailto:gjcamp@online.no" class="white"> gjcamp@online.no</a></li>
                    </ul>
                    <h3 class="white">{{ 'Follow Gjerde Camping On Social Media'| t }}</h3>
                    <span class="fa-stack">
                        <a href="https://www.facebook.com/Gjerde-Camping-100936278328399/" target="_blank" rel="noreferrer">
                            <span class="hexagon"></span>
                            <i class="fab fa-facebook-f fa-stack-1x white"></i>
                        </a>
                    </span>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">

                <!-- Contact Form -->

                {% macro errorList(errors) %}
                    {% if errors %}
                        {{ ul(errors, {class: 'errors'}) }}
                    {% endif %}
                {% endmacro %}

                {% set message = message ?? null %}

                <form method="post" id="contactForm" action="" accept-charset="UTF-8">
                    {{ csrfInput() }}
                    {{ actionInput('contact-form/send') }}
                    {{ redirectInput('#success') }}
                    <div class="form-group">
                        {{ input('text', 'fromName', message.fromName ?? '', {
                            id: 'from-name',
                            class: "form-control-input",
                            autocomplete: 'name',
                        }) }}
                        <label class="label-control" for="from-name">{{ 'Your Name'| t  }}*</label>
                        <div class="help-block with-errors">
                            {{ message ? _self.errorList(message.getErrors('fromName')) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ input('email', 'fromEmail', message.fromEmail ?? '', {
                            id: 'from-email',
                            class:"form-control-input",
                            autocomplete: 'email',
                        }) }}
                        <label class="label-control" for="from-email">{{ 'Your Email'| t  }}*</label>
                        <div class="help-block with-errors">
                            {{ message ? _self.errorList(message.getErrors('fromEmail')) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {% set options = craft.entries.section('accomodations').all() %}
                        <select name="message[accomodation]" class="form-control-select" id="lselect">
                            <option class="select-option" value="" disabled selected>{{ 'Interested in...'| t  }}</option>
                            {% for option in options %}
                                <option class="select-option" value="{{ option.title }}">{{ option.title }}</option>
                            {% endfor %}
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        {{ tag('textarea', {
                            text: message.message ?? '',
                            id: 'message',
                            name: 'message[body]',
                            class:"form-control-textarea"
                        }) }}
                        <label class="label-control" for="message">{{ 'Message' | t }}*</label>
                        <div class="help-block with-errors">
                            {{ message ? _self.errorList(message.getErrors('message')) }}
                        </div>
                    </div>
                    <input id="HoneyPot" name="HoneyPot" type="text" style="display: none">
                    <div class="form-group">
                        <button id="submitBtn" type="submit"
                                class="form-control-submit-button btn">{{ 'SUBMIT MESSAGE' | t }}
                        </button>
                        <p id="successP" class="h3 text-center white p-2 d-none">{{ 'Thank you for your submission. We will reach out to you as soon as possible.'| t  }}</p>
                    </div>
                    <div class="form-message">
                        <div id="cmsgSubmit" class="h3 text-center d-none">{{'Please fill all required fields!'| t }}</div>
                    </div>
                </form>
                <!-- end of contact form -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->

</div> <!-- end of form-1 -->
