<div id="details" class="accordion">
    <div class="area-1">
    </div><!-- end of area-1 on same line and no space between comments to eliminate margin white space -->
    <div class="area-2">
        {% set details = entry.extraDetails.all() %}
        <!-- Accordion -->
        <div class="accordion-container" id="accordionOne">
            <h2>{{ entry.detailsTitle }}</h2>
            {% for detail in details %}
                <div class="item">
                    <div id="heading{{ loop.index() }}">
                        <span data-toggle="collapse" data-target="#collapse{{ loop.index }}"
                              {% if loop.first() %}aria-expanded="true"{% endif %}
                              aria-controls="collapse{{ loop.index() }}" role="button">
                            <span class="accordion-title">{{ detail.title }}</span>
                        </span>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                         data-parent="#accordion{{ loop.index() }}">
                        <div class="accordion-body">
                            {{ detail.description }}
                        </div>
                    </div>
                </div> <!-- end of item -->
            {% endfor %}
        </div> <!-- end of accordion-container -->
        <!-- end of accordion -->

    </div> <!-- end of area-2 -->
</div> <!-- end of accordion -->
