<div id="projects" class="filter">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">{{ 'Photo Album' | t }}</div>
                <h2>{{ entry.albumsTitle }}</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                <!-- Filter -->
                <div class="button-group filters-button-group">
                    {% set categories = craft.entries.section('photoCategories').all() %}
                    <a class="button is-checked" data-filter="*"><span>SHOW ALL</span></a>
                    {% for category in categories %}
                        <a class="button" data-filter=".{{ category.slug }}"><span>{{ category.title }}</span></a>
                    {% endfor %}
                </div> <!-- end of button group -->
                <div class="grid">
                    {% set photos = craft.entries.section('photos').all() %}
                    {% for photo in photos %}
                        {% set categories = photo.categories.all() %}
                        <div class="element-item {% for category in categories %}{{ category.slug }}{% endfor %}">
                            <a class="popup-with-move-anim" href="#{{ photo.slug }}">
                                <div class="element-item-overlay"><span>{{ photo.title }}</span></div>
                                <img src="{{ photo.image.one().url }}" alt="alternative"></a>
                        </div>
                    {% endfor %}
                </div> <!-- end of grid -->
                <!-- end of filter -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of filter -->
<!-- end of projects -->


<!-- Project Lightboxes -->
<!-- Lightbox -->
{% for photo in photos %}
    <div id="{{ photo.slug }}" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-12">
                <img class="img-fluid" src="{{ photo.image.one().url() }}" alt="alternative">
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-12">
                <a class="btn-outline-reg mfp-close as-button"
                   href="#projects">{{ 'BACK' | t }}</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
{% endfor %}
<!-- end of lightbox -->
<!-- Lightbox -->
<!-- end of project lightboxes -->